.instrutor-card {
  background-color: var(--fit-gray);
  width: 260px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.instrutor-card:hover {
  transform: translateY(-10px);
  border-color: var(--green-soft);
}

.instrutor-img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s;
}

.instrutor-card:hover img {
  filter: grayscale(0%);
}

.instrutor-info {
  padding: 20px;
}

/* mobile */

@media (max-width: 768px) {
  .instrutores-grid {
    gap: 15px;
  }
  .instrutor-card {
    width: 100%;
    max-width: 300px;
  }
}