/* SELECT COM MESMO VISUAL DO INPUT */
.login-select {
  height: 46px;
  padding: 0 14px;
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.18);
  color: rgba(255,255,255,0.85);
  font-size: 0.9rem;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  cursor: pointer;
}

.login-select:focus {
  outline: none;
  border-color: var(--green-neon);
  background: rgba(255,255,255,0.06);
}

/* placeholder fake */
.login-select option[value=""] {
  color: rgba(255,255,255,0.45);
}

/* opções */
.login-select option {
  background: #000;
  color: #fff;
}

