/* CONTAINER */
.form-container {
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.form-card {
  background-color: #0f0f0f;
  border: 1px solid #1f1f1f;
  border-radius: 16px;

  padding: 32px 40px;
  width: 100%;
  max-width: 420px;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

/* TÍTULO */
.form-card h2 {
  color: #07f53a;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* INPUTS */
.form-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;

  border-radius: 8px;
  border: 1px solid #2a2a2a;

  background-color: #141414;
  color: #ffffff;

  font-size: 14px;
}

.form-card input::placeholder {
  color: #9ca3af;
}

.form-card input:focus {
  outline: none;
  border-color: #22c55e;
}

/* BOTÃO PRINCIPAL (VERDE PADRÃO) */
.btn-primary {
  width: 100%;
  padding: 14px 0;

  border-radius: 999px;
  border: none;

  background-color: #22c55e;
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #16a34a;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.4);
}

.btn-primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}