.card-grupomuscular {
  background-color: #0f0f0f;
  border: 1px solid #1f1f1f;
  border-radius: 16px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.card-content {
  text-align: center;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card-icon {
  font-size: 20px;
}

.card-content h3 {
  color:  #22c55e;
  font-size: 18px;
  font-weight: 700;
}

.card-description {
  color: #9ca3af;
  font-size: 14px;
  margin-top: 4px;
}

.card-actions {
  display: flex;
  gap: 12px;
}

/* EDITAR */
.card-actions .edit {
  padding: 8px 20px;
  border-radius: 999px;
  background-color: #22c55e;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.card-actions .edit:hover {
  background-color: #16a34a;
  transform: translateY(-1px);
}

/* EXCLUIR */
.card-actions .delete {
  padding: 8px 20px;
  border-radius: 999px;
  background-color: #ef4444;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.card-actions .delete:hover {
  background-color: #dc2626;
  transform: translateY(-1px);
}
.grupos-grid {
  display: grid;
  grid-template-columns: repeat(2, 420px); /* tamanho fixo */
  justify-content: center;
  gap: 32px;
}