/* responsividade */

@media (max-width: 992px) {
  .nav-links {
    gap: 20px; /* encurta o espaço em telas médias antes de sumir */
  }
}

@media (max-width: 768px) {
  .header-main {
    padding: 20px 5%;
  }

  .nav-links {
    display: none; 
  }
}