.newsletter h3 { /* titulo newsletter */
  margin-bottom: 20px;
}

.newsletter-input-group {
  display: flex;
}
/* responsividade */

@media (max-width: 768px) {
  .footer-box {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .contact-social-links {
    justify-content: center;
  }
}