.newsletter h3 { /* titulo newsletter */
  margin-bottom: 20px;
}
.newsletter-input-group {
  display: flex;
}

.footer-section {
  padding: 100px 0;
  background-color: var(--fit-black);
  /* imagem na sessao inteira */
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* responsividade */

@media (max-width: 768px) {
  .footer-box {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .contact-social-links {
    justify-content: center;
  }
}
