/* cadastro (estilo igual imc) */
.section-cadastro {
  padding: 100px 0;
  background-color: var(--fit-black); /* fundo da pag abaixo do form */
}

.section-title {
  font-size: 3.2rem;
  text-align: center;
  text-transform: none !important; 
  color: #A7FF83;
  margin-bottom: 50px;
  margin-top: 40px; 
}


.cadastro-wrapper {
  display: flex;
  justify-content: center;
}

.cadastro-form {
  background: transparent; /*fundo do form*/
  padding: 60px;
  border-radius: 15px;
  /*border-right: 4px solid #888;
  border-left: 4px solid #888; /* borda form lado esquerdo */
  max-width: 800px; /* form cumprido igual imc */
  text-align: center;
}

.cadastro-subtitle {
  color: #888;
  margin-bottom: 40px;
  font-size: 1.1rem;
  text-transform: none !important; /* mantém minuscula */
}

.cadastro-form .input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.cadastro-form .class-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.cadastro-form .class-input label {
  color: #888;
  font-size: 0.8rem;
  text-transform: none !important;
  margin-bottom: 8px;
  font-weight: 700;
}

.cadastro-form .class-input input {
  width: 100%;
  padding: 18px;
  background: rgba(10, 10, 10, 0.5); /* fundo dos inputs semi-transparente */
  border: 2px solid #333; /* borda campo formulario */
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  transition: 0.3s;
}
/* efeito ao clicar no campo */

.cadastro-form .class-input input:focus{
  /* cursor focus so aparece quando clicar no campo */
  border-color: var(--green-neon);
  box-shadow: 0 0 10px rgba(57, 255, 20, 0.2); /* brilho */
}

.cadastro-form .btn-main {
  width: 100%; /* botão largo */
  margin-top: 10px;
}

/* responsividade cadastro */

@media (max-width: 768px) {
  .cadastro-form .input-group {
    flex-direction: column;
  }
}