/* config gerais */
:root {
  --green-neon: #39FF14; 
  --fit-black: #000;
  --fit-gray: #111;
  --fit-input: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--fit-black);
  color: #fff !important;
  overflow-x: hidden;
  width: 100vw;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* navbar */
.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10%; /* Ajustado para dar mais respiro nas laterais */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px; /* Diminuído um pouco para não embolar em telas menores */
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none !important;
  font-weight: 700;
  font-size: 0.9rem;
  color: #ffffff !important;
  transition: 0.3s ease;
  text-transform: none !important;
  white-space: nowrap; /* Impede que o texto quebre linha e sobreponha */
}

.nav-links a:hover {
  color: var(--green-neon) !important;
  text-shadow: 0 0 10px var(--green-neon);
}

/* instagram icon */
.nav-instagram a:hover {
  filter: drop-shadow(0 0 8px var(--green-neon));
  transform: scale(1.1);
}

/* botoes e titulos */
.btn-main {
  background-color: var(--green-neon) !important;
  color: #000 !important;
  padding: 18px 45px;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: 0.3s ease;
  text-decoration: none;
}

.btn-main:hover {
  background-color: #fff !important;
  box-shadow: 0 0 15px var(--green-neon);
}

.section-title {
  font-size: 3.2rem;
  text-align: center;
  text-transform: none !important; 
  color: var(--green-neon);
  margin-bottom: 50px;
  margin-top: 40px; 
}

/* barra de scrollar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #000; }
::-webkit-scrollbar-thumb { background: var(--green-neon); border-radius: 10px; }

/* responsividade */
@media (max-width: 992px) {
  .header-main { padding: 25px 5%; }
  .nav-links { gap: 15px; } /* Encurta a distância em tablets */
}

@media (max-width: 768px) {
  .nav-links { display: none; } /* Esconde o menu no celular (padrão que você tinha) */
  .section-title { font-size: 2.2rem; }
}