.list-container {
  min-height: calc(100vh - 120px);
  padding: 32px;
}

.dashboard-action {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.btn-cadastro {
  padding: 20px 64px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 999px;
  border: none;
  background-color: #22c55e;
  color: #5dfc3dea;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cadastro:hover {
  background-color: #00ff5e;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgb(42, 245, 116);
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(2, 420px);
  justify-content: center;
  gap: 32px;
}

/* 🔥 TÍTULO NEON */
.titulo-neon {
  color: #62ee05;
  text-shadow:
    0 0 6px rgba(60, 240, 5, 0.959),
    0 0 12px rgba(140, 197, 34, 0.4);
}